.header
  .header__menu
    Menu
  .header__logo
    STARBUCKS Review
  .header__userbox
    - if user_signed_in?
      .header__mypage
        = link_to "マイページ"
    -else
      .header__resistbox
        = link_to "新規ユーザー登録", new_user_registration_path, class: "header__userbox__text"
      .header__loginbox
        = link_to "ログイン", new_user_session_path, class: "header__userbox__text"
  .exhibition
    = link_to new_review_path, data: {"turbolinks" => false}  do
      %span.exhibition__text 投稿する
      = image_tag asset_path("coffee-2-128.png"), class: "exhibition__btn"