=render "header"
=render "menubar"
.search-main
  .search-main__left
    =search_form_for(@q, url: search_stores_path) do |f|
      .search-main__left__search_sort
        =f.select( :sorts, { '並び替え': 'id desc', "レビューの少ない順": "revies desc"}, {onchandge: "this.form.submit()"},class: "search-main__left__search_sort__box")
      .search-main__left__search_form
        .search-main__left__search_form__title
          詳細検索
        .search-main__left__search_form__name-title
          店舗で検索
        .form{id: 'formId'} 
          = f.collection_select :store_id_eq, Store.all.where(ancestry: nil), :id, :name,{prompt: "選択してください"}, name: '',id: "parent-form",selected:true
        .search-main__left__search_form__congestion-title
          混雑具合で検索
        .form
          = f.collection_select :congestion_id_eq, Congestion.all, :id, :name, {prompt: "選択してください"},class: "search-main__left__search_form__delivery_charge-box1__box"
        .search-main__left__search_form__name-title
          コンセントコンセントで検索
        .form
          = f.collection_select :plag_id_eq, Plag.all, :id, :name, {prompt: "選択してください"},class: "search-main__left__search_form__delivery_charge-box1__box"
        
        .search-main__left__search_form__btn-box
          =f.button "クリア", type: :reset, class:"search-main__left__search_form__btn-box__box"
          =f.submit "完了", class:"search-main__left__search_form__btn-box__submit"
  .search-main__right
    .search-main__right__box
      -unless @result.empty?
        .search-main__right__box__item
          -@result.each do |store|
            .search-main__right__box__item__item-box
              = image_tag store.image.url , size: '220x200',class:"item-image"
              %br
              = store.store.root.name
              %br
              =store.store.parent.name
              %br
              =store.store.name     
      -else
        .search-main__right__non
          ="お探しの商品はございません"