=render "stores/header"
=render "stores/menubar"

.wrapper
  .topContents
    .contents
      .itembox
        %h1.itembox__name 
        .itembox__imagebox
          .imagebig
            .bigimage
              =image_tag @review.image.url, class:"show-img"
       
        .itembox__price
          %span.plice 
            
          .itembox__price-ditail
          
      .itembox__Dtail
        
        
      .itemtable
        %table
          %tb
            %tr
              %th 店舗名
              %td
                =@review.store.name

            %tr
              %th 日付
              %td 
                =@review.visit.strftime("%F")
                
            %tr
              %th  混雑
              %td 
                =@review.congestion.name
            %tr
              %th  コンセント
              %td
                =@review.plag.name
            %tr
              %th  評価
              %td
                =@review.point.name
            %tr
              %th  コメント
              %td
                =@review.comment
      .buy-box
        - if user_signed_in?
          - if @review.user_id == current_user.id
            = link_to '編集', edit_review_path(@review) ,class:"edit-btn",data:{turbolinks: :false}
            = link_to '削除', review_path(@review), method: :delete, data: { confirm: "削除しますか？" } ,class:"delete-btn"
          
            
      .optionArea
        %ul
          %li.okini
            = render partial: 'likes/like', locals: { review: @review }

        %ul
          %li.hata
            =link_to "#" do
              %i{class: "fa fa-flag"}
              不適切な評価の通報
      .commentText{data: {review: {id: @review.id}}}
        -if user_signed_in?
          - if @comments
            - @comments.each do |comment|
              .commentText__list{data: {comment: {id: comment.id}}}
                .commentText__list__icon
                  =icon('fa','user')
                .commentText__list__content
                  .commentText__list__content__name
                    = comment.user.name
                  .commentText__list__content__message
                    = comment.text
                  .commentText__list__content__date
                    = comment.updated_at.to_s(:datetime_jp)
        -else
          .commentText__list__content
      -# コメントフォーム
      .commentBox
        -if user_signed_in?
          =form_for [@review, @comment] do |f|
            = f.text_area :text, class: "com-text" ,size: "48x7" 
            .noticeMsg
              %p
                相手のことを考え丁寧なコメントを心がけましょう。
                %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br
            = f.submit "コメントする", class: "commentBtn"
        -else
            
  %ul.topform
    
  .relatedItem
    =link_to root_path ,data: {"turbolinks" => false} do
      トップページへ戻る


=render "stores/footer"